﻿@{
    ViewBag.Title = "Home Page";
}
<div id="promotion">
</div>
<h3><em>Fresh</em> off the grill</h3>
<ul id="book-list">
    @foreach (var book in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Store",
                new { id = book.BookId })">
                <img alt="@book.Title" src="@book.BookcoverUrl" />
                <span>@book.Title</span>
            </a>
        </li>
    }
</ul>