﻿@model  Bookstore.Models.Genre

@{
    ViewBag.Title = "Browse Albums";
}


<div class="genre">
    <h3><em>@Model.Name</em> Books</h3>

    <ul id="book-list">
        @foreach (var book in Model.Books)
        {
            <li>
                <a href="@Url.Action("Details",new { id = book.BookId })">
                    <img alt="@book.Title"
                         src="@book.BookcoverUrl" />
                    <span>@book.Title</span>
                </a>
            </li>
        }
    </ul>
</div>