﻿@model IEnumerable<Bookstore.Models.Book>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("Details",new { id = item.BookId })">
            <img alt="@item.Title"
                 src="@item.BookcoverUrl" />
            <span>@item.Title</span>
        </a>
    </li>
}
