﻿@model Bookstore.Models.Book
@{
    ViewBag.Title = "Delete"; }
<h2>Delete Confirmation</h2>
@Html.AntiForgeryToken()
<p>
    Are you sure you want to delete the album titled <strong>@Model.Title</strong>?
</p>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}